@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  background-color: #271d31;
  color: #EAEAEA;
  font-family: "Monteserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}

li, a{
  font-weight: 500;
  font-size: 16px;
  color: #EAEAEA;
  text-decoration: none;
}

.text-primary {
  color: #EAEAEA !important;
}

.navbar a{
  font-family: "Monteserrat", sans-serif !important;
  font-size: 22px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

header{
  position: fixed;
  padding-left: 2.5%;
  width: 100%;
  padding-top: 2.5%;
  
}

.contato{
  color: #EAEAEA;
}

.container{
  color: #0ff508;
}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0px 30px;
}

.nav_links li a{
  transition: all 0.5s ease-out 0s;  
}

.nav_links li a:hover{
  color: #0ff508;
}


.home_view{
  background-color: #271d31;
  height: 60vw;

}

.div_home{
    background-color: #271d31;
    padding: 10%;
    text-align: center;
    padding-top: 24%;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    border-radius: 15px;
    margin-bottom: 0%;

  
}

.sobre_view{
    display: flex;
    margin-top: -20%;

    height: 100vw;
    margin-bottom: 0%;
}

.div_sobre{

    text-align: justify;
    padding-top: 5%;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 5%;
    width: 50%;
    height: 30vw;
    border-radius: 15px;
    font-size: 24px;
    line-height: 30px;
}

.div_sobre_img{
    text-align: center;
    margin-top: 10%;
    width: 30%;
    height: 30vw;
}


.contato_view{
  margin-top: 0%;
  height: 30vw;
  padding-top: 1.5vw;
  justify-content: space-between;
  align-items: center;
  padding: 60px 15%;
  height: 100vw;
}

.div_contato{
   text-align: center;
    margin: 25%;
    margin-top: 15%;
    padding-top: 1vw;
    width: 50%;
    height: 10vw;
    border-radius: 15px;
    
}


.projetos{
  display: flex;
  width: 100%;
  height: 70vw;
  justify-content: space-between;
  align-items: center;
}


.projetos_academicos, .projetos_pessoais{
  margin: 20px;
  display: flex;
  padding-top: 10%;
  width: 1200px;
  height: 300px;
  margin: 15%;
  font-size: 20px !important;  
  
}
.carousel-item{
  padding-left: 130px;
  padding-right: 130px
}


#lorem{
  color: beige;
  font-family: 'Noto Sans', sans-serif;
  font-size: 26px;
}

img{
  display: inline-flexbox;
  justify-content: space-around;
  margin-left: 60px;
  margin-right: 60px;
  width: 100px;
  height: 100px;
}

.img_profile{
  border-radius: 100px;
  margin-top: 10%;
  width: 21.5vw;
  height: 25vw;
  padding: 10px;
}